@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 5%;
}

.modal.open {
  pointer-events: all;
  opacity: 1;
}
.modal1.open {
  pointer-events: all;
  opacity: 1;
}
.modal2.open {
  pointer-events: all;
  opacity: 1;
}
